body {
  font-family: 'DroidArabicKufiRegular';
  font-weight: 400;
  font-size: $default-font-size;
  // line-height: 1.7;
  color: $color-grey-dark-1;
  text-rendering:  optimizeLegibility;

  line-height: 1.7;
}

.common-link {
  &, &:link, &:visited {
    color: $color-primary-dark;
    font-size: 1.6rem;
    // font-weight: bold;
    transition: opacity .3s ease;
  }

  &:hover {
    opacity: .8;
  }
}

.page-title {
  text-align: center;
  font-size: 3rem;
  color: #666;
  margin-bottom: 6rem;
}

.section-header {
  font-size: 3rem;
  font-size: ri(30px, 20px);
  margin-bottom: 1.5rem;
}
