form {
  input, texarea, .form-control {
    font-size: 1.6rem;
    border: 1px solid #ccc;
    background-color: white;

    height: 4.5rem;
    padding: 0 1rem;
    width: 100%;
    display: block;
  }
  textarea:focus, input:focus{
    outline: none;
  }

  input:-webkit-autofill {
    // to remove autofill background in chrome
    -webkit-box-shadow: 0 0 0 30px white inset;
  }

  // input[type=email] {
  //   direction: ltr;
  // }

  input[type=checkbox] {
    display: inline-block;
    width: auto;
    height: auto;
  }
  input[type=checkbox].form-check {
    display: none;
    vertical-align: middle;

    & + .form-check-label .form-check-element {
      display: inline-block;
      vertical-align: middle;
      width: 20px;
      height: 20px;
      background: white;
      border: 1px solid #bbb;
      position: relative;
      transition: border .4s ease;

      &:before {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate3d(-50%,-50%, 0) scale3d(0,0,0);
        font-size: 15px;
        font-family: FontAwesome;
        content:"\f17b";
        color: darken($color-primary, 10%);
        transition: transform .3s ease;
      }
    }

    &:checked + .form-check-label .form-check-element {
      background: white;
      border: 1px solid $color-primary;
      &:before {
        transform: translate3d(-50%,-50%, 0) scale3d(1,1,1);
      }
    }

    & + .form-check-label .form-check-labeltext {
      margin: 0 .7rem;
      user-select: none;
    }
  }

  input[type=file] {
    display: none;
  }
  [class*=filepond] {
    font-size: 1.6rem;
  }

  label {
    color: #666;
    font-size: 1.8rem;
    margin-bottom: .7rem;
    display: inline-block;
  }

  .form-group {
    margin-bottom: 2rem;
  }
}


/**
 * FilePond Custom Styles
 */
//  .filepond--drop-label {
// 	color: #4c4e53;
// }

// .filepond--label-action {
// 	text-decoration-color: #babdc0;
// }

// .filepond--panel-root {
// 	background-color: #edf0f4;
// }

// .filepond--item-panel {
// 	background-color: #595e68;
// }

// .filepond--drip-blob {
// 	background-color: #7f8a9a;
// }

// .filepond {
// 	width: 170px;
// 	height: 170px;
// 	padding: 0;
// 	overflow: hidden;
// }

// .filepond--root,
// .filepond--image-preview-wrapper {
// 	border-radius: 9999px;
// }

// .filepond--list {
// 	left: 0;
// 	right: 0;
// }

// .filepond--drop-label {
// 	bottom: 0;
// 	margin: 0;
// 	display: flex;
// 	align-items: center;
// }

.filepond--file-info {
	display: none;
}

// .filepond--file-action-button {
// 	display: none;
// }

// .filepond--image-preview-overlay {
// 	display: none;
// }

// .filepond--item-panel {
// 	display: none;
// }

// .filepond--file .filepond--action-remove-item {
// 	display: block;
// 	bottom: 1em;
// 	left: calc(50% - 0.8125em);
// }

// .filepond--file .filepond--progress-indicator {
// 	top: auto;
// 	right: calc(50% - 0.625em);
// 	bottom: 1.1875em;
// }

