.img-holder {
    position: relative;
    padding-bottom: 57%;
    background: rgb(235, 235, 235);
    overflow: hidden;

    /* Prevents chrome bug that causes upscaling images to snap at beginning of transition that happens when using dir="rtl" */
    direction: ltr;

    img, .img {
        position: absolute;

        top: 50%;
        left: 50%;
        transform: translate3d(-50%, -50%, 0);
    }

    &--post-image {
        padding-bottom: 50%;
    }

    &--hero-grid-image {
        padding-bottom: percentage(150 / 215);
    }

    &--logo {
        padding-bottom: percentage(36 / 113);
    }

    &--fill {
        img, .img {
            width: 100%;
            height: 100%;
        }
    }
}