.post-preview {
    box-shadow: 0 2px 14px rgba(0,0,0, .1);
    padding: 1rem 0 1.5rem 0;
    transition: all, .3s ease;
    transform: translate3d(0,0,0);
    
    &:hover {
        transform: translate3d(0, -10px, 0);
        box-shadow: 0 4px 30px rgba(0,0,0,.15);
    }
    &__image {
        // width: 100%;
    }

    &__title {
        @extend .common-link;
        font-size: ri(16px, 14px);
        padding: .8rem 1rem 0 1rem;
        // height: 61px;
        height: 3.8em;
        overflow: hidden;

        @include md-down(960px) {
            font-size: ri(15px, 14px);
        }
    }
}

.posts-grid--tight {
    .post-preview__title {
        // font-size: 1.4rem;
        padding: .8rem .4rem 0 .4rem;
        font-size: ri(15px, 11px);
        @include md-down(960px) {
            font-size: ri(15px, 14px);
        }
    }
}