.tabs {
    display: flex;
    border-bottom: 1px solid #ccc;
    margin-bottom: 5rem;
    &__tab {
        position: relative;
        top: 1px;
        font-size: 2rem;
        color: #777;
        font-weight: bold;
        padding: .4rem 1rem;
        border: 1px solid #ccc;
        margin-left: 1rem;
        border-radius: 5px 5px 0 0;

        .tabs__tab-link {
            &:link, &:visited {
                color: $color-primary;
                pointer-events: all;
            }
        }

        &--active {
            border-bottom: 1px solid #fff;

            .tabs__tab-link {
                &:link, &:visited {
                    color: #777;
                    pointer-events: none;
                }
            }
        
        }
    }
    



    
}