.footer {
  background: #F8F8F8;
  border-top: 10px solid #dfdfdf;
  padding: 3rem 0;

  &__wrapper {
    display: flex;
    justify-content: space-between;
  }

  .footer__social-icons {
    margin-bottom: 2rem;
    a {
      &:link, &:visited {
        text-decoration: none;
        font-size: 3rem;
        color: #2080c7;
        line-height: 0;
        border: 1px solid #ccc;
        display: inline-block;
        padding: .7rem;
        margin-left: 1rem;
        transition: color .3s ease;
      }

      &:hover {
        color: lighten(#2080c7, 15%);
      }
    }
  }

  &__copyright {
    font-size: 1.6rem;
  }

  &__site-links {
    display: flex;
  }

  &__site-links-group {
    margin-left: 4rem;
    a {
      display: block;
      &:link, &:visited {
        color: #444;
        font-size: 1.6rem;
        text-decoration: none;
        margin-bottom: .6rem;
        opacity: 1;
        transition: opacity .3s ease;
      }

      &:hover {
        opacity: .7;
      }
    }
  }
}