.withsidebar {
    display: flex;
    padding: 5rem 0;
    &__main {
        // background: darkgray;
        flex: 1 1 75%;
        padding-left: 6rem;
        // padding: 4rem;
    }

    &__sidebar {
        // background: silver;
        flex: 1 1 25%;
        // padding-right: 8rem;
        // padding: 4rem;
    }

}