.catsprite {
    background-image: url(/images/catsprite.png);
    background-repeat: no-repeat;
    display: block;
}

.catsprite-aalom-alard {
    width: 48px;
    height: 46px;
    background-position: -5px -5px;
}

.catsprite-aalom-alard-hover {
    width: 48px;
    height: 46px;
    background-position: -63px -5px;
}

.catsprite-alaanay-balthat {
    width: 28px;
    height: 47px;
    background-position: -121px -5px;
}

.catsprite-alaanay-balthat-hover {
    width: 28px;
    height: 47px;
    background-position: -159px -5px;
}

.catsprite-aladb {
    width: 50px;
    height: 42px;
    background-position: -197px -5px;
}

.catsprite-aladb-hover {
    width: 50px;
    height: 42px;
    background-position: -257px -5px;
}

.catsprite-alasr {
    width: 32px;
    height: 47px;
    background-position: -317px -5px;
}

.catsprite-alasr-hover {
    width: 32px;
    height: 47px;
    background-position: -5px -62px;
}

.catsprite-alhml-oalolad {
    width: 46px;
    height: 46px;
    background-position: -47px -62px;
}

.catsprite-alhml-oalolad-hover {
    width: 46px;
    height: 46px;
    background-position: -103px -62px;
}

.catsprite-alhya-oalmjtmaa {
    width: 58px;
    height: 47px;
    background-position: -159px -62px;
}

.catsprite-alhya-oalmjtmaa-hover {
    width: 58px;
    height: 47px;
    background-position: -227px -62px;
}

.catsprite-alzoaj-oalhb {
    width: 55px;
    height: 48px;
    background-position: -295px -62px;
}

.catsprite-alzoaj-oalhb-hover {
    width: 55px;
    height: 48px;
    background-position: -5px -120px;
}

.catsprite-eslam {
    width: 39px;
    height: 42px;
    background-position: -70px -120px;
}

.catsprite-eslam-hover {
    width: 39px;
    height: 42px;
    background-position: -119px -120px;
}

.catsprite-fn-althy {
    width: 30px;
    height: 48px;
    background-position: -168px -120px;
}

.catsprite-fn-althy-hover {
    width: 30px;
    height: 48px;
    background-position: -208px -120px;
}

.catsprite-fnon {
    width: 34px;
    height: 47px;
    background-position: -248px -120px;
}

.catsprite-fnon-hover {
    width: 34px;
    height: 47px;
    background-position: -292px -120px;
}

.catsprite-hkm-oakoal {
    width: 40px;
    height: 45px;
    background-position: -70px -177px;
}

.catsprite-hkm-oakoal-hover {
    width: 40px;
    height: 45px;
    background-position: -248px -177px;
}

.catsprite-hol-alaaalm {
    width: 42px;
    height: 42px;
    background-position: -298px -177px;
}

.catsprite-hol-alaaalm-hover {
    width: 42px;
    height: 42px;
    background-position: -5px -229px;
}

.catsprite-hyoanat-onbatat {
    width: 46px;
    height: 48px;
    background-position: -120px -229px;
}

.catsprite-hyoanat-onbatat-hover {
    width: 46px;
    height: 48px;
    background-position: -176px -229px;
}

.catsprite-kss-ohkayat {
    width: 44px;
    height: 46px;
    background-position: -298px -229px;
}

.catsprite-kss-ohkayat-hover {
    width: 44px;
    height: 46px;
    background-position: -5px -285px;
}

.catsprite-mal-oaaamal {
    width: 34px;
    height: 47px;
    background-position: -336px -120px;
}

.catsprite-mal-oaaamal-hover {
    width: 34px;
    height: 47px;
    background-position: -59px -285px;
}

.catsprite-ozn-orshak {
    width: 49px;
    height: 47px;
    background-position: -232px -285px;
}

.catsprite-ozn-orshak-hover {
    width: 49px;
    height: 47px;
    background-position: -291px -285px;
}

.catsprite-ryad {
    width: 45px;
    height: 42px;
    background-position: -359px -5px;
}

.catsprite-ryad-hover {
    width: 45px;
    height: 42px;
    background-position: -360px -57px;
}

.catsprite-sh {
    width: 48px;
    height: 42px;
    background-position: -380px -109px;
}

.catsprite-sh-hover {
    width: 48px;
    height: 42px;
    background-position: -380px -161px;
}

.catsprite-soeal-ojoab {
    width: 46px;
    height: 46px;
    background-position: -352px -213px;
}

.catsprite-soeal-ojoab-hover {
    width: 46px;
    height: 46px;
    background-position: -352px -269px;
}

.catsprite-taalym {
    width: 55px;
    height: 35px;
    background-position: -103px -325px;
}

.catsprite-taalym-hover {
    width: 55px;
    height: 35px;
    background-position: -350px -325px;
}

.catsprite-tghthy {
    width: 57px;
    height: 47px;
    background-position: -5px -370px;
}

.catsprite-tghthy-hover {
    width: 57px;
    height: 47px;
    background-position: -72px -370px;
}

.catsprite-tkny {
    width: 49px;
    height: 42px;
    background-position: -168px -325px;
}

.catsprite-tkny-hover {
    width: 49px;
    height: 42px;
    background-position: -227px -370px;
}

.catsprite-tsly-oalaaab {
    width: 74px;
    height: 45px;
    background-position: -286px -370px;
}

.catsprite-tsly-oalaaab-hover {
    width: 74px;
    height: 45px;
    background-position: -415px -5px;
}

.catsprite-unknown {
    width: 27px;
    height: 41px;
    background-position: -438px -60px;
}

.catsprite-unknown-hover {
    width: 27px;
    height: 41px;
    background-position: -475px -60px;
}
